<div class="validation-banner-container">
    <% if (typeof message !== 'undefined' && message) { %>
      <div class="validation-banner">
        <%= message %>
      </div>
    <% } %>
  </div>